/* Margin 0 in the body element makes the whole page to start at the very top, with no blank spaces in the  
margins of the screen */
body {
    margin: 0
} 
footer {
    background-color: rgb(70, 180, 140);
    color: white;  
} 
footer p {
    padding: 25px;
}  
/* The first value of 50px applies to the top and bottom margins and the 0 applies to the right and left. */
h1 {
    margin: 50px 0;
} 
nav {
    background-color: rgb(70, 180, 140);
}
a {
    color: white;
}    
/* Because we want some space around the links themselves and more of the navy blue color showing, we will want  
padding not only on the 'a' elements but also on the nav itself. */
nav {
    padding: 25px;
} 
a {
    padding: 25px;
} 
/* We add a border to the image element */ 
img { 
    border: 4px solid rgb(243, 76, 76);
} 
main { 
    text-align: center;
}